{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elective</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap-utilities.css' %}">
</head>
<style>
    #main_container {
        padding: 60px 15px 0;
    }

    .subject_checkbox {
        height: 25px;
        width: 25px;
    }
</style>

<body>
    {% include 'nav.html' %} 
    <main class="flex-shrink-0 my-5">
        <div class="container" id="main_container">
            <h2 class="mb-3">Semester X</h2>
            <table class="table table-bordered border-primary">
                <thead>
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Honors 1</th>
                        <th scope="col">Honors 2</th>
                        <th scope="col">Minors 1</th>
                        <th scope="col">Minors 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Compulsory Subject 1</td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                    </tr>
                    <tr>
                        <td>Compulsory Subject 2</td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                    </tr>
                    <tr>
                        <td>Compulsory Subject 3</td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                        <td><input type="checkbox" disabled checked class="subject_checkbox"></td>
                    </tr>
                    <tr>
                        <td>Optional Subject 1</td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                    </tr>
                    <tr>
                        <td>Optional Subject 2</td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                    </tr>
                    <tr>
                        <td>Optional Subject 3</td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                        <td><input type="checkbox" checked class="subject_checkbox"></td>
                    </tr>
                </tbody>
            </table>
            <section class="mt-2 text-end">
                <button class="btn btn-primary" type="submit">Submit <i class="fa-solid fa-caret-right"></i></button>
            </section>
        </div>
    </main>
    <script src="{% static './js/bootstrap.js' %}"></script>
    <script src="{% static './js/bootstrap.bundle.js' %}"></script>
    <script src="https://kit.fontawesome.com/1ad43aed0a.js" crossorigin="anonymous"></script>
</body>

</html>