{% load static %}

{% load socialaccount %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>My Form</title>
</head>

<body>
    <div class="container">
        {% if user.is_authenticated %}
            <p>Welcome back, {{ user.username }}!</p>
            <a href="{% url 'logout' %}">logout ki nishani</a>
        {% else %}
            <a href="#">login with google</a>
        {% endif %}
        <header>Semester Details</header>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <div class="fields">
                        <div class="details ID">
                            <span class="title">Semester I</span>
                            <div class="fields">
                                <div class="subject">
                                    <label></label>
                                    <input type="text" placeholder="roll no">
                                </div>
                                <br>
                                <div class="optional_subject">
                                        {% for item in my_list|slice:":8" %}
                                            <select class="my-dropdown" id="dropdown-{{forloop.counter}}">
                                            <option value="{{ option }}">Select an option</option>
                                            {% for option in my_list %}
                                            <option>{{ option }}</option>
                                            {% endfor %}
                                            </select>
                                        {% endfor %}
                                </div>
                                <br>
                                <br>
                                <div class="grade">
                                    <input type="number" placeholder="Enter GPA" step=".01">
                                </div>
                            </div>
                            <button class="sumbit">
                                <span class="btnText">submit</span>
                                <i class="uil uil-navigator"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-75f7"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Made with by BMC</p>
      </div></footer>

  
</body></html>